
body {
    background-color: #252725;
    font-family: Arial, sans-serif;
     margin: 0;
    padding: 0;
}
div {
    background-color: white;
    margin: 30px;
    padding: 25px;
    border-radius: 8px;
}
nav {
    background-color: #070708;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    
    
}
@media (max-width: 600px) {
    nav a {
        display: block;
        margin: 10px 0;
    }
}

